<section class="header-index-contents lists">
    <div class="header-index-title title">
        <h2>ヘッダー一覧<h2>
    </div>
    <div class="header-content-contents">
        <table>
            <tr>
                <th>ID</th>
                <th>サイト名</th>
                <th></th>
                <th>URL</th>
                <th>作成日</th>
                <th></th>
            </tr>
            <tr>
                <td>1</td>
                <td>こんにちは</td>
                <td></td>
                <td>https://hoge.com</td>
                <td>2021/07/21</td>
                <td><a href="">編集</a></td>
            </tr>
            <tr>
                <td>2</td>
                <td>こんにちは</td>
                <td></td>
                <td>https://hoge.com</td>
                <td>2021/07/21</td>
                <td><a href="">編集</a></td>
            </tr>
        </table>
    </div>
</section>

<section class="header-index-new-form">
    <div class="header-index-title title">
        <h2>ヘッダー新規作成<h2>
    </div>
    <div class="header-forms">
        <%= form_with(model: @header_content, url: admin_header_contents_path, local: true) do |f| %>
            <%= f.label :site_title %>
            <br>
            <%= f.text_field :site_title %>

            <br>
            <%= f.label :image %>
            <br>
            <%= f.file_field :image %>

            <br>
            <%= f.label :responsive_image %>
            <br>
            <%= f.file_field :responsive_image %>

            <br>
            <%= f.label :redirect_url %>
            <br>
            <%= f.text_field :redirect_url %>

            <br>
            <%# TODO: ジャンルの追加タイミング %>
            <%# <label>ジャンル</label>
            <select>
                <option>こんにちは</option>
                <option>こんばん</option>
            </select> %>
            <%= f.submit '作成する' %>
        <% end %>
</section>
